.hljs {
	color: var(--fg-color);
}
.hljs-comment,
.hljs-quote {
	color: var(--fg-secondary-color);
	font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	color: var(--secondary4-color);
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: var(--secondary2-color);
}
.hljs-literal {
	color: var(--secondary1-color);
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
	color: var(--success-color);
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: #c28d06;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: var(--secondary1-color);
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
	color: var(--secondary2-color);
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-link {
	text-decoration: underline;
}
