#server.key
server.csr
#server.crt

# Logs
logs
!frontend/src/components/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

cypress/videos/
cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python Virtualenv
__pycache__/
*.py[cod]
build/
.venv/
wheels/
*.egg-info/
*.egg

# Local development artifacts
*.db
*.db-journal
.env
*.sqbpro
site/
*.checkpoint
firewall.spec

backend/data/api.config.yaml
backend/file-store/api.config.yaml
backend/report.pdf
backend/report.html
backend/scoutsuite-report
backend/app/integrations/office365/services/wazuh_config.xml

frontend/src/unplugin.components.d.ts
frontend/cypress/screenshots/
frontend/cypress/downloads/
frontend/tsconfig.app.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
frontend/tsconfig.vitest.tsbuildinfo
