blueprint
dfir_iris_client
elasticsearch7==7.10.1
environs
flask
flask-cors
flask-marshmallow
flask-migrate
flask-sqlalchemy
flask-swagger-ui
flask_cors
loguru
marshmallow-sqlalchemy
matplotlib
mitreattack-python
openai
pika
psycopg2-binary
pyvelociraptor~=0.1
reportlab
requests
xmltodict
