bcrypt
blueprint
cortex4py
dfir_iris_client
dnstwist[full]
elasticsearch7==7.10.1
environs
flask
flask-cors
Flask-JWT-Extended
flask-marshmallow
flask-migrate
flask-sqlalchemy
flask-swagger-ui
flask_cors
libmagic
loguru
marshmallow-sqlalchemy
matplotlib
mitreattack-python
openai
pika
psycopg2-binary
pytest
python-magic
pyvelociraptor~=0.1
regex
reportlab
requests
xmltodict
