$background-color: #f3f7fa; //#e8ecee //#F0F5FA //#f6f9fc
var(--fg-color): #4a596a; //#0d2b3e //#34495e
var(--primary-color): #5f8fdf; //#409EFF
var(--success-color): #13ce66;
var(--warning-color): #f7ba2a;
var(--error-color): #ec205f;
var(--info-color): #909399;

/* theme-default
$background-color: #f3f7fa;
var(--fg-color): #4a596a;
var(--primary-color): #5f8fdf;
*/

/* theme-a
$background-color: #ffffff;
var(--fg-color): #000000;
var(--primary-color): #D7195D;
*/

/* theme-b
$background-color: #8794A3;
var(--fg-color): #ffffff;
var(--primary-color): #52F17E;
*/

/* theme-c
$background-color: #191d24;
var(--fg-color): #ffffff;
var(--primary-color): #52f17e;
*/

/* theme-d
$background-color: #2B80F6;
var(--fg-color): #ffffff;
var(--primary-color): #1B2738;
*/
