name: Docker

on:
    push:
        branches: [scheduler-page]

jobs:
    build-backend:
        runs-on: ubuntu-latest

        steps:
            - name: Check out code
              uses: actions/checkout@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ secrets.REPO_OWNER }}
                  password: ${{ secrets.REPO_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v2
              with:
                  context: ./backend
                  push: true
                  tags: ghcr.io/socfortress/copilot-backend:latest
                  build-args: |
                      COPILOT_API_KEY=${{ secrets.COPILOT_API_KEY }}

    build-frontend:
        runs-on: ubuntu-latest

        steps:
            - name: Check out code
              uses: actions/checkout@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ secrets.REPO_OWNER }}
                  password: ${{ secrets.REPO_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v2
              with:
                  context: ./frontend
                  push: true
                  tags: ghcr.io/socfortress/copilot-frontend:latest
