.scrollbar-styled {
	/* Works on Firefox */

	scrollbar-width: thin;
	scrollbar-color: var(--hover-010-color) var(--bg-secondary-color);

	/* Works on Chrome, Edge, and Safari */
	&::-webkit-scrollbar,
	::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track,
	::-webkit-scrollbar-track {
		background: var(--bg-secondary-color);
	}

	&::-webkit-scrollbar-thumb,
	::-webkit-scrollbar-thumb {
		background-color: var(--hover-010-color);
		border-radius: 20px;
		border: 2px solid var(--bg-secondary-color);
	}
}

.code-bg-transparent {
	code {
		background-color: transparent;
	}
}

.item-appear {
	&.item-appear-bottom {
		animation: item-fade-bottom 0.3s forwards;
		opacity: 0;
	}
	&.item-appear-up {
		animation: item-fade-up 0.3s forwards;
		opacity: 0;
	}

	&.item-appear-005 {
		@for $i from 0 through 40 {
			&:nth-child(#{$i}) {
				animation-delay: $i * 0.05s;
			}
		}
	}
	&.item-appear-010 {
		@for $i from 0 through 40 {
			&:nth-child(#{$i}) {
				animation-delay: $i * 0.1s;
			}
		}
	}
}

@keyframes item-fade-bottom {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
	}
}

@keyframes item-fade-up {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
	}
}

.over-layer {
	background-color: rgba(var(--bg-body-rgb), 0.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	text-align: center;
	font-size: 20px;

	.n-alert {
		width: 90vw;
		max-width: 500px;
		background-color: var(--bg-color);
	}
}

.grid-auto-flow-200 {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-flow: row dense;
}
.grid-auto-flow-250 {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row dense;
}

.bg-color {
	background-color: var(--bg-color);
}

.bg-secondary-color {
	background-color: var(--bg-secondary-color);
}

.border-radius {
	border-radius: var(--border-radius);
}

.font-mono {
	font-family: var(--font-family-mono);
}
.\!font-mono {
	font-family: var(--font-family-mono) !important;
}

.text-primary-color {
	color: var(--primary-color);
}
.hover\:text-primary-color {
	&:hover {
		color: var(--primary-color);
	}
}

.text-secondary-color {
	color: var(--fg-secondary-color);
}
.text-warning-color {
	color: var(--warning-color);
}
.text-error-color {
	color: var(--error-color);
}
.text-success-color {
	color: var(--success-color);
}
